<div role="main">
    <div class="picturized d-flex justify-content-center flex-column align-items-center" aria-label="Decorative picture of a building with glass windows">
        <div class="about-us-box">
            <h1 role="heading" aria-level="1" class="about-us">About</h1>
            <br>
            <p class="intro-text">Established in 1983, for over 40 years, we have offered our patients the most advanced and effective health treatments, helping them achieve their desired results.</p>
            <br>
        </div>
    </div>
    <h2 role="heading" aria-level="2" class="text-info subhead centered darker">With clinics nationwide, we offer the broadest range of treatments</h2>
    <p class="about-us-text centered">From FUE Hair Transplants, Varicose Veins Laser treatments, Minimally Invasive Bunion Surgery, 
        Facelifts, Tummy Tucks, Surgical Liposuction and Blepharoplasty and Rhinoplasty to minimally invasive VASER Liposuction, as well as CoolSculpting, Ultherapy, Acne and Rejuvenation treatments.
    </p>
    <br>
    <br>
    <br>
    <div class="d-flex">
        <div>
            <h2 role="heading" aria-level="2" class="text-info subhead darker">We only offer treatments that our growing team of Doctors and Surgeons specialise in</h2>

            <p class="about-us-text">They are amongst the most experienced in their field, and you can rest assured that you are offered honest advice and the most suitable treatment for you. Our team of aesthetic nurses, 
                practitioners and aesthetic doctors are highly skilled and knowledgeable about the treatments they offer delivering the most suitable treatments and achieving the best results for our patients.
            </p>
            <p class="about-us-text">We use state-of-the-art technologies and the most advanced techniques to achieve the best results with the least amount of disruption to your everyday life. Where suitable,
                we perform walk-in walk-out procedures, which do not require general anaesthetic, overnight stays or involve long recovery periods.
        </p>
        </div>
        <img class="image reduced decorative-img" src="../../../assets/Bed.PNG" alt="Image of a doctor talking to a patient in bed">
    </div>
    <br>

    <div class="d-flex mb-3" style="margin-bottom: 50px !important;">
        <img class="image reduced decorative-img" src="../../../assets/doctor.PNG" alt="Image of a doctor shaking hands with a patient">
        <div>
            <h2 role="heading" aria-level="2" class="text-info subhead darker">Our priority & mission is YOU!</h2>

            <p class="about-us-text">We see over 15,000 new patients every year and perform over 10,000 procedures, with one of the highest – if not the highest – patients satisfaction in the sector, 
                with a Trustpilot  5 star rating in 2021, 96% would recommend us to their friends and family. We are a multi award winning provider and have been voted the Aesthetic award for Best Clinic Group 2017.
            </p>
            <p class="about-us-text">Our medical and clinical staff are amongst the best in the UK. At The Private Clinic of Harley Street, you will not be pressurised by a sales team, but supported by our 
                experienced patient advisers who will take the time to explain the procedure options to provide you with the outcome you are seeking, and answer questions you may have. We are proud to hold 
                the highest standards and demonstrate our compliance with premium expectations and set outcomes. The Private Clinic is an independent healthcare provider and is therefore registered with the appropriate regulatory body.
            </p>
        </div>
    </div>

    <div class="mission-box">
        <h1 role="heading" aria-level="1" class="text-uppercase fw-bold mb-4 darker">
            OUR MISSION
        </h1>
        <p class="intro-sentence mb-5">The Private Clinic stands for quality and in order to achieve that, we make sure we put safety, expertise and patient satisfaction at the core of what we do – always.</p>
        
        <div class="d-flex wrap-icons">
            <div class="mission-x d-flex flex-column align-items-center tablet-icons">
                <div aria-label="Decorative icon of a medical certificate">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-file-medical-fill" viewBox="0 0 16 16">
                        <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 4.5v.634l.549-.317a.5.5 0 1 1 .5.866L9 6l.549.317a.5.5 0 1 1-.5.866L8.5 6.866V7.5a.5.5 0 0 1-1 0v-.634l-.549.317a.5.5 0 1 1-.5-.866L7 6l-.549-.317a.5.5 0 0 1 .5-.866l.549.317V4.5a.5.5 0 1 1 1 0zM5.5 9h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zm0 2h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1z"/>
                    </svg>
                </div>
                <h3 role="heading" aria-level="3" class="mt-5 fw-bold">Medical Expertise</h3>
            </div>
            <div class="mission-x d-flex flex-column align-items-center tablet-icons">
                <div aria-label="Decorative icon of a box with a heart shape on it">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-calendar-heart-fill" viewBox="0 0 16 16">
                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5ZM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2ZM8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                    </svg>
                </div>
                <h3 role="heading" aria-level="3" class="mt-5 fw-bold">Outstanding Care</h3>
            </div>
            <div class="mission-x d-flex flex-column align-items-center tablet-icons">
                <div aria-label="Decorative icon of a star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                    </svg>
                </div>
                <h3 role="heading" aria-level="3" class="mt-5 fw-bold">Excellent Customer Service</h3>
            </div>
            <div class="mission-x d-flex flex-column align-items-center tablet-icons">
                <div aria-label="Decorative icon of a circle with the letter i on it">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </svg>
                </div>
                <h3 role="heading" aria-level="3" class="mt-5 fw-bold">Honest Advice</h3>
            </div>
        </div>
    </div>
</div>