.picturized {
    background-image: url('/assets/building.jpg');
    background-size: cover;
    height: 600px;
    margin-bottom: 50px;
    padding: 30px;

    .about-us-box {
        min-height: 250px;
        max-height: 550px;
        background-color: aliceblue;
        padding: 30px;

        .about-us {
            font-size: 50px;
            margin-bottom: 20px;
        }
        
        .intro-text {
            font-size: 18px;
            line-height: 30px;
        }
    }
}

.image {
    margin: 15px;
    &.reduced {
        width: 390px;
        height: 260px;
    }
}

.subhead {
    font-size: 30px;
    margin-top: 20px;
    &.centered {
        text-align: center;
    }
}

.about-us-text {
    font-size: 16px;
    &.centered {
        text-align: center;
    }
}

.mission-box {
    border-color: lightblue;
    border-style: solid;
    border-width: 5px;
    padding: 15px;
    text-align: center;
}

.intro-sentence {
    font-size: 20px;
}

.mission-x {
    width: 25%;
}

.darker {
    color: #002483 !important;
}

@media only screen and (max-width: 1199px) {
    .decorative-img {
        display: none !important;
    }
  }

  @media only screen and (max-width: 765px) {
    .wrap-icons {
        flex-wrap: wrap;
    }
    .tablet-icons {
        flex: 50%;
    }
  }