<div role="main">
  <h1 role="heading" aria-level="1" class="text-center">Employment</h1><hr>

  <p>
  During 40 years of work, we had an active development path, created a unique business image, and became a recognizable brand in healthcare, primarily through the experiences of a large number of satisfied and loyal users of our services. Their trust is our greatest recognition for the quality of our work.
  In order to optimize business processes and realize business plans, the need for new staff has arisen, and on the basis of the above, we are announcing a competition for the following positions:
  </p><br>

  <P style="margin-bottom: 50px;">Click on any of the down (V) arrows at the far right, to reveal more information about the neccessary qualifications for the position. </P>

  <br><br>

  <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 role="heading" aria-level="2" class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              Professional associate for finance and accounting - 1 executor
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <b>PROFESSIONAL KNOWLEDGE AND PREREQUISITES:</b> <br><br>
              <ul>
                  <li>VSC, Faculty of Economics - accounting major</li>
                  <li>Minimum of 3 years of experience in accounting</li>
                  <li>Knowledge of processes and regulations related to accounting and taxes</li>
                  <li>Certified accountant license preferred (not eliminative)</li>
                  <li>Strong knowledge of the English language</li>
              </ul>
              <b>DESCRIPTION OF JOBS:</b> <br><br>
              <ul>
                  <li>Receipt and completion of accounting documentation in accordance with legal requirements</li>
                  <li>Posting of incoming and outgoing invoices, statements, expenses, investments</li>
                  <li>Posting of purchase, sale and depreciation of fixed assets</li>
                  <li>Control of material bookkeeping</li>
                  <li>Monitoring of accounting balances, analytical cards of suppliers and customers and their reconciliation</li>
                  <li>Work on the preparation of periodic and annual calculations of the financial result</li>
                  <li>Preparation of documentation for the audit of financial statements</li>
                  <li>Creation of statistical reports on a monthly and annual basis</li>
                  <li>Monthly calculation of VAT and other taxes, compilation of periodic and final financial statements</li>
                  <li>Creating a periodic cash flow plan and keeping track of the dynamics of payment of obligations and collection of receivables</li>
                  <li>Cashier operations and calculation of travel expenses</li>
                  <li>Creation of outgoing invoices and income control</li>
                  <li>Calculation and posting of salaries and contracts for temporary and occasional jobs</li>
                  <li>Other jobs related to finance and accounting</li>
                  <li>Monitoring professional literature and legal regulations in the field of taxes, accounting and finance</li>
              </ul>
              <b>REQUIRED SKILLS AND COMPETENCES:</b> <br><br>
              <ul>
                  <li>Eloquence and literacy</li>
                  <li>Independence and precision in work</li>
                  <li>Teamwork</li>
              </ul>
              <b>OUR OFFER:</b> <br><br>
              <ul>
                  <li>Work in a dynamic environment</li>
                  <li>The possibility of personal and professional development</li>
                  <li>Support in work and advancement in the profession</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 role="heading" aria-level="2" class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              Laboratory technician - 1 executor
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <b>PROFESSIONAL KNOWLEDGE AND PREREQUISITES:</b> <br><br>
              <ul>
                  <li>SSS/lab technician</li>
                  <li>Passed professional exam and possession of a license</li>
                  <li>Preferred work experience</li>
                  <li>Knowledge of the English language and working on a computer is desirable</li>
              </ul>
              <b>OUR OFFER:</b> <br><br>
              <ul>
                  <li>Working with the most advanced technology</li>
                  <li>Incentive income</li>
                  <li>Excellent working environment in a team of renowned experts</li>
              </ul>
              <b>WHAT DO WE EXPECT FROM YOU?</b> <br><br>
              <ul>
                  <li>Commitment to work</li>
                  <li>Willingness for teamwork</li>
                  <li>Orientation towards satisfaction and providing superior service to the client</li>
                  <li>Excellent communication skills</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 role="heading" aria-level="2" class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              Medical radiology engineer - 3 executors
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
              <b>PROFESSIONAL KNOWLEDGE AND PREREQUISITES:</b> <br><br>
              <ul>
                  <li>VSS, Faculty of Health Studies, medical radiology engineer</li>
                  <li>Passed professional exam and possession of a license</li>
                  <li>Preferred work experience</li>
                  <li>Knowledge of the English language and working on a computer is desirable</li>
              </ul>
              <b>OUR OFFER:</b> <br><br>
              <ul>
                  <li>Working with the most advanced technology</li>
                  <li>Incentive income</li>
                  <li>Excellent working environment in a team of renowned experts</li>
              </ul>
              <b>WHAT DO WE EXPECT FROM YOU?</b> <br><br>
              <ul>
                  <li>Commitment to work</li>
                  <li>Willingness for teamwork</li>
                  <li>Orientation towards satisfaction and providing superior service to the client</li>
                  <li>Excellent communication skills</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item">
          <h2 role="heading" aria-level="2" class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                  Nurse/technician – 6 executors
            </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <b>PROFESSIONAL KNOWLEDGE AND PREREQUISITES:</b> <br><br>
              <ul>
                  <li>Regularly completed Medical School/general course</li>
                  <li>Passed professional exam and possession of a license</li>
                  <li>Preferred work experience</li>
                  <li>Knowledge of the English language and working on a computer is desirable</li>
              </ul>
              <b>OUR OFFER:</b> <br><br>
              <ul>
                  <li>Working with the most advanced technology</li>
                  <li>Incentive income</li>
                  <li>Excellent working environment in a team of renowned experts</li>
              </ul>
              <b>WHAT DO WE EXPECT FROM YOU?</b> <br><br>
              <ul>
                  <li>Commitment to work</li>
                  <li>Willingness for teamwork</li>
                  <li>Orientation towards satisfaction and providing superior service to the client</li>
                  <li>Excellent communication skills</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 role="heading" aria-level="2" class="accordion-header" id="flush-headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
              Internal medicine specialist – 1 executor
            </button>
          </h2>
          <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <b>PROFESSIONAL KNOWLEDGE AND PREREQUISITES:</b> <br><br>
              <ul>
                  <li>VSS - graduated Faculty of Medicine,</li>
                  <li>Passed specialist exam,</li>
                  <li>Having a license for independent work,</li>
                  <li>Knowledge of the English language and working on a computer is desirable</li>
              </ul>
              <b>OUR OFFER:</b> <br><br>
              <ul>
                  <li>Working with the most advanced technology</li>
                  <li>Incentive income</li>
                  <li>Excellent working environment in a team of renowned experts</li>
              </ul>
              <b>WHAT DO WE EXPECT FROM YOU?</b> <br><br>
              <ul>
                  <li>Commitment to work</li>
                  <li>Willingness for teamwork</li>
                  <li>Orientation towards satisfaction and providing superior service to the client</li>
                  <li>Excellent communication skills</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 role="heading" aria-level="2" class="accordion-header" id="flush-headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
              Professional associate for marketing – 1 executor
            </button>
          </h2>
          <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <b>PROFESSIONAL KNOWLEDGE AND PREREQUISITES:</b> <br><br>
              <ul>
                  <li>Bachelor's degree with at least 2 years of experience in the same or similar position,</li>
                  <li>Experience and skills for graphic design,</li>
                  <li>Experience in the field of content creation for ATL/BTL and/or social media channels - minimum 2 years</li>
                  <li>Knowledge of the English language is desirable</li>
                  <li>Mandatory computer skills (MS Office, Adobe Photoshop, Illustrator)</li>
              </ul>
              <b>OFFER:</b> <br><br>
              <ul>
                  <li>Work in a young and motivated team</li>
                  <li>Incentive income</li>
                  <li>Excellent working environment</li>
              </ul>
              <b>WHAT DO WE EXPECT FROM YOU?</b> <br><br>
              <ul>
                  <li>Commitment to work</li>
                  <li>Willingness for teamwork</li>
                  <li>Excellent communication skills</li>
                  <li>Knowledge of graphic design</li>
                  <li>Creativity</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 role="heading" aria-level="2" class="accordion-header" id="flush-headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
              Master of Pharmacy - 1 executor
            </button>
          </h2>
          <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <b>PROFESSIONAL KNOWLEDGE AND PREREQUISITES:</b> <br><br>
              <ul>
                  <li>Graduated from the Faculty of Pharmacy</li>
                  <li>Qualification examination passed</li>
                  <li>Possession of a license for independent work</li>
                  <li>At least one year of work experience in a pharmacy</li>
              </ul>
              <b>DESIRABLE CHARACTERISTICS:</b> <br><br>
              <ul>
                  <li>Accuracy and responsibility</li>
                  <li>Developed communication skills</li>
                  <li>Responsibility and openness to teamwork</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 role="heading" aria-level="2" class="accordion-header" id="flush-headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
              Janitor - 2 executors
            </button>
          </h2>
          <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <b>PROFESSIONAL KNOWLEDGE AND PREREQUISITES:</b> <br><br>
              <ul>
              <li>Minimum of 2 years of work experience in the same or similar jobs</li>
              <li>Independence, responsibility and commitment to work</li>
              <li>Good organizational skills</li>
              <li>Willingness to work in a team and willingness to work under pressure</li>
              <li>Willingness to quickly fit into a dynamic environment</li>
              <li>Driving license B category</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 role="heading" aria-level="2" class="accordion-header" id="flush-headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
              Occupational safety engineer - 1 executor
            </button>
          </h2>
          <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <b>CONDITIONS:</b> <br><br>
              <ul>
                  <li>Higher professional education in the field of occupational safety;</li>
                  <li>work experience of at least 2 years in occupational health and safety</li>
                  <li>ability to organize, plan and manage;</li>
                  <li>knowledge of the quality management system, health and safety protection at work</li>
                  <li>driving license B category</li>
                  <li>computer knowledge</li>
                  <li>desirable experience in handling devices for measuring physical, chemical hazards and microclimate.</li>
              </ul>
            </div>
          </div>
      </div>
      <div class="accordion-item">
          <h2 role="heading" aria-level="2" class="accordion-header" id="flush-headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
              Occupational medicine specialist – 1 executor
            </button>
          </h2>
          <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <b>PROFESSIONAL KNOWLEDGE AND PREREQUISITES:</b> <br><br>
              <ul>
                  <li>VSS-graduated Faculty of Medicine,</li>
                  <li>Passed specialist exam,</li>
                  <li>Having a license for independent work,</li>
                  <li>Knowledge of the English language and working on a computer is desirable</li>
              </ul>
              <b>OUR OFFER:</b> <br><br>
              <ul>
                  <li>Working with the most advanced technology</li>
                  <li>Incentive income</li>
                  <li>Excellent working environment in a team of renowned experts</li>
              </ul>
              <b>WHAT DO WE EXPECT FROM YOU?</b> <br><br>
              <ul>
                  <li>Commitment to work</li>
                  <li>Willingness for teamwork</li>
                  <li>Orientation towards satisfaction and providing superior service to the client</li>
                  <li>Excellent communication skills</li>
              </ul>
            </div>
          </div>
      </div>
  </div>
</div>