<div class="card" style="width: 18rem;">
    <img src="assets/CardImage1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h1 class="card-title">Tracking viruses: The best clues may be in the sewer</h1>
      <p class="card-text">It's hard to accurately predict when new viral outbreaks will appear or old viruses will reappear and how to figure this out quickly enough to respond quickly. </p>
      <button [routerLink]="['/blog', 1]" class="btn btn-primary">Read more</button>
    </div>
</div>