.banner {
    margin: 10px;
}

.navbar-font-larger {
    font-size: 20px;
}

.check-up {
    margin-right: 50px;
    margin-left: 50px;
}

.navbar-nav > li{
    padding-left:15px;
    padding-right:15px;
}