<h1 class="text-center">Book a Check-Up</h1><hr><br><br>

<form [formGroup]="bookingForm">
    <div class="row mb-4">
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="firstName"><b>First name</b></label>
          <input type="text" id="firstName" class="form-control" formControlName="firstName" />
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="form-label" for="lastName"><b>Last name</b></label>
          <input type="text" id="lastName" class="form-control" formControlName="lastName" />
        </div>
      </div>
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="address"><b>Address</b></label>
      <input type="text" id="address" class="form-control" formControlName="address" />
    </div>
  
    <div class="form-outline mb-4">
      <label class="form-label" for="email2"><b>Email</b></label>
      <input type="email" id="email2" class="form-control" formControlName="email" />
    </div>
  
    <div class="form-outline mb-4">
      <label class="form-label" for="phone"><b>Phone</b></label>
      <input type="number" id="phone" class="form-control" formControlName="phone" />
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="date"><b>Date</b></label>
      <input id="date" class="form-control" type="date" formControlName="date" />
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="startTime"><b>Start time</b></label>
      <input id="startTime" type="time" class="form-control" formControlName="startTime" />
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="endTime"><b>End time</b></label>
      <input id="endTime" type="time" class="form-control" formControlName="endTime" />
    </div>

    <div class="form-outline mb-4">
      <label class="form-label" for="additional"><b>Additional information</b></label>
      <textarea class="form-control" id="additional" rows="4" formControlName="additionalInfo"></textarea>
    </div>
    
    <button type="button" class="btn btn-primary" style="width: 100%; height: 80px;" [disabled]="saving" (click)="saveBooking($event)"><b>SUBMIT</b></button>
  </form>
